@font-face {
    font-family: Verdana;
    src: url("Verdana.tff");
}

html {
    background-color: #2b323b;
}

header, footer, .container {
    width: 960px;
    margin: 0 auto;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 1200px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1, h2, h3, h4 {
    padding-left: .1em;
    padding-right: .1em;
    padding-top: .1em;
    padding-bottom: .1em;
    color: #f0f4fa;
}

p {
    padding-left: .1em;
    padding-right: .1em;
    color: #f0f4fa;
}
a:link {
    color: #f0f4fa;
}
a:visited {
    color: #828385;
}
header {
    display: grid;
}

.logo img {
    width: 50%;
    max-width: 50px;
}

/* Now Playing on the Homepage */
.nowplaying {
    float: left;
    width: 50%;
    padding: 10px;
}
.nowplaying img{
    width: 80%;
    max-width: 
}
audio {
    display: grid;
    grid-column: 1;
}

/* Now Playing on the Now Playing Page */
.nowplaying ul {
    color: #f0f4fa;
}

/* Coming Soon */
.comingsoon {
    float: left;
    width: 50%;
    padding: 10px;
}

.comingsoon img {
    width: 100%;
}

/* Events */
table {
    display: grid;
    border-collapse: collapse;
}
table th {
    border: solid;
    background: #6ba0c2;
}
table td {
    border: solid;
}
tr:nth-of-type(odd) {
    background: #94c9eb;
}
tr:nth-of-type(even) {
    background: #d9effc;
}

/* Contact */
form {
    
}
label {
    color: #f0f4fa
}
legend {
    color: #f0f4fa
}

/* About Us */
.aboutus img {
    max-width: 500px;
    max-height: 400px;
    height: 70%;
    border-style: solid;
}
.aboutus img:hover {
    content: url('../media/screenqueen2.jpg');
    border-style: solid;
    border-radius: .1em;
    position: relative; 
}

.aboutus {
    float: left;
    width: 70%;
    padding: 10px;
}
/* Footer */
footer {
    display: grid;
    grid-row: 10;
    grid-column: 1 / 5;
}

/* Navigation Menu */
#nav_menu {
    display: block;
}
#nav_menu {
}
#nav_menu ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #0c8255;
    width: 181px;
    color: white;
    font-weight: bold;
}
#nav_menu ul li.lastitem a {
    width: 181px;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: #647591;
}
#mobile_menu {display: none}
/* Tablets landscape */
@media only screen and (max-width: 959px) {
    #nav_menu {display: none;}
    #mobile_menu {display: block;}

header, footer, .container {
        width: 100%;
    }
html, body {
        width: 100%;
    }
.slicknav_manu {background-color: #345180 !important;}
}

/* Smartphone landscape/ tablet portrait */    
@media only screen and (max-width: 767px) {
    #nav_menu {display: none;}
    #mobile_menu {display: grid;
    grid-row: 2;
    grid-column: 1 / 5;}
    .slicknav_menu {background-color: #345180 !important;
    }

audio {
    display: grid;
    grid-column: 1;
    grid-row: 9;
}
    table, thead, tbody, th, td, tr {
        display: grid;
        grid-column: 1;
    }
    /* For accessibility, table headers get moved off-screen. */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: solid;
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Event"; }
	td:nth-of-type(2):before { content: "Date & Time"; }
	td:nth-of-type(3):before { content: "Cost"; }
    td:nth-of-type(4):before { content: "Information";}
    
    header, footer p { text-align: center;}
    footer p {margin-right: 0;}
}
/* Smartphones */    
@media only screen and (max-width: 479px) {
    #nav_menu {display: none;}
    #mobile_menu {display: grid;
    grid-row: 2;
    grid-column: 1 / 5;}
    .slicknav_menu {background-color: #345180 !important;}
   
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: solid;
    }
    td {
        border: none;
        border-bottom: solid;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        width: 45%;
        white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Event"; }
	td:nth-of-type(2):before { content: "Date & Time"; }
	td:nth-of-type(3):before { content: "Cost"; }
    td:nth-of-type(4):before { content: "Information";}

.nowplaying {
    width: 100%;
}
footer {
    clear: both;
    padding-top: 10px;
}
}

